## Tuple

1

In [4]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [10]:
tuple1[1][0]

10

2.

In [12]:
tuple1[2][2]

25

3. It is not possible because when you create a Tuple, you can't modificate it.

4.

In [14]:
print(len(tuple1))

3

5.

In [20]:
tuple2 = ([7, 8], [9, 1], [10, 7])

Step 1: I have to use the map function to apply the sum function in each sublist in tuple 2.

In [22]:
mapped_result = map(sum, tuple2)

Step 2: Then I convert the mapped result to a list

In [21]:
result_list = list(mapped_result)

Step 3: Next I sum all the elements in the result list

In [23]:
final_sum = sum(result_list)

Step 4: Finally I print the result using the function print. The anwser is 42.

In [19]:
print(final_sum)

42

6. For this exercise, half of each value was taken into account:

In [2]:
tuple2 = ([7, 8], [9, 1], [10, 7])

In [3]:
tuple3 = tuple(map(lambda sublist: [x / 2 for x in sublist], tuple2))

In [4]:
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## Lists

1.

In [10]:
import numpy as np

In [11]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [14]:
nan_indices = [index for index, value in enumerate(f_list) if isinstance(value, float) and np.isnan(value)]

In [15]:
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

2.

In [16]:
p2_list = [ 2 , 3, 4, 5 ]

In [17]:
replicated_list = p2_list * 4

In [18]:
print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

3.

In [19]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [20]:
print(len(f_list))

8

4.

In [25]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [26]:
result_string = ' '.join(text1)

In [27]:
print(result_string)

My teacher assistant is so boring.