## Tuple

1

In [4]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [10]:
tuple1[1][0]

10

2.

In [12]:
tuple1[2][2]

25

3. It is not possible because when you create a Tuple, you can't modificate it.

4.

In [14]:
print(len(tuple1))

3

5.

In [20]:
tuple2 = ([7, 8], [9, 1], [10, 7])

Step 1: I have to use the map function to apply the sum function in each sublist in tuple 2.

In [22]:
mapped_result = map(sum, tuple2)

Step 2: Then I convert the mapped result to a list

In [21]:
result_list = list(mapped_result)

Step 3: Next I sum all the elements in the result list

In [23]:
final_sum = sum(result_list)

Step 4: Finally I print the result using the function print. The anwser is 42.

In [19]:
print(final_sum)

42